# PostgreSQL/Supabase
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Kakao 지도/식당 검색
KAKAO_MAP_JAVASCRIPT_KEY=
KAKAO_REST_API_KEY=

# JWT
JWT_ISSUER=project2
# Base64로 인코딩한 32바이트 이상의 무작위 HMAC 비밀키
JWT_SECRET=

# Google GenAI
GOOGLE_API_KEY=
